<!-- footer section -->

<footer class="footer">
    <div class="container">
        <div class="row hidden-xs">
            <div class="footer__content">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h4 class="footer__heading">portfolio</h4>
                    <ul class="footer__menu">
                        <li class="footer__item"><a class="footer__link" href="#">Web Design</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Brand & Identity</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Mobile Design</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Print</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">User Interface</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h4 class="footer__heading">about</h4>
                    <ul class="footer__menu">
                        <li class="footer__item"><a class="footer__link" href="#">The Company</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">History</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Vision</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h4 class="footer__heading">gallery</h4>
                    <ul class="footer__menu">
                        <li class="footer__item"><a class="footer__link" href="#">Flickr</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Picasa</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">iStockPhoto</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">PhotoDune</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h4 class="footer__heading">contact</h4>
                    <ul class="footer__menu">
                        <li class="footer__item"><a class="footer__link" href="#">Basic Info</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Map</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Contact Form</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__accordion visible-xs">
            <div class="container">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    portfolio
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="panel-body__menu">
                                    <li class="panel-body__item"><a class="panel-body__link" href="#">Web Design</a></li>
                                    <li class="panel-body__item"><a class="panel-body__link" href="#">Brand & Identity</a></li>
                                    <li class="panel-body__item"><a class="panel-body__link" href="#">Mobile Design</a></li>
                                    <li class="panel-body__item"><a class="panel-body__link" href="#">Print</a></li>
                                    <li class="panel-body__item"><a class="panel-body__link" href="#">User Interface</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    about
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="panel-body__menu">
                                    <li class="panel-body__item"><a class="panel-body__link" href="#">The Company</a></li>
                                    <li class="panel-body__item"><a class="panel-body__link" href="#">History</a></li>
                                    <li class="panel-body__item"><a class="panel-body__link" href="#">Vision</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    gallery
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="panel-body__menu">
                                    <li class="panel-body__item"><a class="panel-body__link" href="#">Flickr</a></li>
                                    <li class="panel-body__item"><a class="panel-body__link" href="#">Picasa</a></li>
                                    <li class="panel-body__item"><a class="panel-body__link" href="#">iStockPhoto</a></li>
                                    <li class="panel-body__item"><a class="panel-body__link" href="#">PhotoDune</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    contact
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="panel-body__menu">
                                    <li class="panel-body__item"><a class="panel-body__link" href="#">Basic Info</a></li>
                                    <li class="panel-body__item"><a class="panel-body__link" href="#">Map</a></li>
                                    <li class="panel-body__item"><a class="panel-body__link" href="#">Contact Form</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__social">
            <div class="social-net">
                <a class="social-net__link" target="_blank" href="https://www.facebook.com/"><i class="social-net__item fab fa-facebook-f"></i></a>
                <a class="social-net__link" target="_blank" href="https://twitter.com/"><i class="social-net__item fab fa-twitter"></i></a>
                <a class="social-net__link" target="_blank" href="https://plus.google.com"><i
                        class="social-net__item fab fa-google-plus-g"></i></a>
                <a class="social-net__link" target="_blank" href="https://www.linkedin.com"><i class="social-net__item fab fa-linkedin-in"></i></a>
            </div>
            <p class="footer__copyright">Copyright © 2015 Syed Miraj.All rights reserved.</p>
        </div>
    </div>
</footer>

<div class="scroll-top">
    <div class="scrollup">
        <i class="fa fa-angle-double-up"></i>
    </div>
</div>
