<section class="our-features">
    <div class="wrapper">

        <div class="headings__title">
            our features
            <div class="headings__arrow-right">
                <object data="./assets/img/svg/arrow_right.svg" type="image/svg+xml">
                    <img src="./assets/img/What_we_do(arrow).png" />
                </object>
            </div>
        </div>

        <div class="our-features__content">

            <div class="our-features__grid">
                <div class="our-features__item">
                    <object data="./assets/img/svg/icon-1.svg" type="image/svg+xml">
                        <img src="./assets/img/What_we_do(arrow).png" />
                    </object>
                    <p class="our-features__item-title">Visual Composer</p>
                    <p class="our-features__item-text">TheFox comes with the Visual Composer Plugin. You won`t need to code or to remember any shortcodes with our.</p>
                </div>
                <div class="our-features__item">
                    <object data="./assets/img/svg/icon-2.svg" type="image/svg+xml">
                        <img src="./assets/img/What_we_do(arrow).png" />
                    </object>
                    <p class="our-features__item-title">Responsive</p>
                    <p class="our-features__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                </div>
                <div class="our-features__item">
                    <object data="./assets/img/svg/icon-3.svg" type="image/svg+xml">
                        <img src="./assets/img/What_we_do(arrow).png" />
                    </object>
                    <p class="our-features__item-title">Retina Ready</p>
                    <p class="our-features__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="our-features__item">
                    <object data="./assets/img/svg/icon-4.svg" type="image/svg+xml">
                        <img src="./assets/img/What_we_do(arrow).png" />
                    </object>
                    <p class="our-features__item-title">Typography</p>
                    <p class="our-features__item-text">TheFox comes with the Visual Composer Plugin. You won`t need to code or to remember any shortcodes with our.</p>
                </div>
                <div class="our-features__item">
                    <object data="./assets/img/svg/icon-5.svg" type="image/svg+xml">
                        <img src="./assets/img/What_we_do(arrow).png" />
                    </object>
                    <p class="our-features__item-title">Theme Options Pannel</p>
                    <p class="our-features__item-text">TheFox comes with the Visual Composer Plugin. You won`t need to code or to remember any shortcodes with our.</p>
                </div>
                <div class="our-features__item">
                    <object data="./assets/img/svg/icon-6.svg" type="image/svg+xml">
                        <img src="./assets/img/What_we_do(arrow).png" />
                    </object>
                    <p class="our-features__item-title">Dummy Content</p>
                    <p class="our-features__item-text">TheFox comes with the Visual Composer Plugin. You won`t need to code or to remember any shortcodes with our.</p>
                </div>
                <div class="our-features__item">
                    <object data="./assets/img/svg/icon-7.svg" type="image/svg+xml">
                        <img src="./assets/img/What_we_do(arrow).png" />
                    </object>
                    <p class="our-features__item-title">Many Style Available</p>
                    <p class="our-features__item-text">TheFox comes with the Visual Composer Plugin. You won`t need to code or to remember any shortcodes with our.</p>
                </div>
                <div class="our-features__item">
                    <object data="./assets/img/svg/icon-8.svg" type="image/svg+xml">
                        <img src="./assets/img/What_we_do(arrow).png" />
                    </object>
                    <p class="our-features__item-title">Header Style</p>
                    <p class="our-features__item-text">TheFox comes with the Visual Composer Plugin. You won`t need to code or to remember any shortcodes with our.</p>
                </div>
                <div class="our-features__item">
                    <object data="./assets/img/svg/icon-9.svg" type="image/svg+xml">
                        <img src="./assets/img/What_we_do(arrow).png" />
                    </object>
                    <p class="our-features__item-title">10000+ icons</p>
                    <p class="our-features__item-text">TheFox comes with the Visual Composer Plugin. You won`t need to code or to remember any shortcodes with our.</p>
                </div>
                <div class="our-features__item">
                    <object data="./assets/img/svg/icon-10.svg" type="image/svg+xml">
                        <img src="./assets/img/What_we_do(arrow).png" />
                    </object>
                    <p class="our-features__item-title">Support</p>
                    <p class="our-features__item-text">TheFox comes with the Visual Composer Plugin. You won`t need to code or to remember any shortcodes with our.</p>
                </div>
                <div class="our-features__item">
                    <object data="./assets/img/svg/icon-11.svg" type="image/svg+xml">
                        <img src="./assets/img/What_we_do(arrow).png" />
                    </object>
                    <p class="our-features__item-title">Update</p>
                    <p class="our-features__item-text">TheFox comes with the Visual Composer Plugin. You won`t need to code or to remember any shortcodes with our.</p>
                </div>
                <div class="our-features__item">
                    <object data="./assets/img/svg/icon-12.svg" type="image/svg+xml">
                        <img src="./assets/img/What_we_do(arrow).png" />
                    </object>
                    <p class="our-features__item-title">SEO ready</p>
                    <p class="our-features__item-text">TheFox comes with the Visual Composer Plugin. You won`t need to code or to remember any shortcodes with our.</p>
                </div>
            </div>

        </div>
    </div>
</section>