<!-- history section -->
<section class="history">
	<div class="wrapper">
		<div class="history__flex">
			<div class="history__img fadeInLeft wow fadeInLeft">
				<img src="./assets/img/history.jpg" alt="history">
			</div>
			<div class="history__right wow fadeInRight">
				<button class="history__right-btn--grey fadeInRight" type="submit">our history</button>
				<div class="history__right-text fadeInRight">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eausmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
					<br>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatisquasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.
				</div>
				<button class="history__right-btn--yellow fadeInRight modal-button" data-modal="modal_our-history" type="submit">Browse our story</button>
			</div>
		</div>
	</div>
</section>