<!-- how-we-work section-->
<section class="how-we-work">
    <div class="wrapper">

        <div class="headings__title">
            how we work
            <div class="headings__arrow-left">
                <object data="./assets/img/svg/arrow_left.svg" type="image/svg+xml">
                    <img src="./assets/img/What_we_do(arrow).png" />
                </object>
            </div>
        </div>

        <div class="how-we-work__image">
            <object data="./assets/img/svg/big_pic.svg" type="image/svg+xml">
                <img src="./assets/img/big_pic.png" />
            </object>
        </div>
        
        <div class="how-we-work__image-mobile">
            <object data="./assets/img/svg/big_pic_mobile.svg" type="image/svg+xml">
                <img src="./assets/img/big_pic_mobile.png" />
            </object>
        </div>
        
    </div>
</section>