<!-- members section -->

<section class="members">
    <div class="container">
        <div class="members__heading">
            <div class="heading__title arrow--left">
                <img class="arrow--left__img hidden-xs" src="./assets/img/svg/arrow_left.svg" data-png="./assets/img/arrow_left.png" alt="arrow_left"/>
                <h4>Our Team Members</h4>
            </div>
        </div>
    </div>
    <div class="container-fluid members_bg">
        <div class="row members__inner">
            <div class="text-center">
                <div class="col-md-2 col-md-offset-1 col-sm-4 col-xs-12">
                    <div class="members__team-member wow fadeInLeft">
                        <div class="members-image">
                            <img class="members-image__img" src="./assets/img/svg/team/1.svg" data-png="./assets/img/members_1.png" width="100"
                                 alt="SAYED MIRAJ">
                        </div>
                        <h5>SAYED MIRAJ</h5>
                        <p>UI & UX DESIGNER</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-12">
                    <div class="members__team-member wow fadeInUp">
                        <div class="members-image">
                            <img class="members-image__img" src="./assets/img/svg/team/2.svg" data-png="./assets/img/members_2.png" width="100"
                                 alt="PENNY HUSTON">
                        </div>
                        <h5>PENNY HUSTON</h5>
                        <p>DEVELOPER</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-12">
                    <div class="members__team-member wow fadeInDown">
                        <div class="members-image">
                            <img class="members-image__img" src="./assets/img/svg/team/3.svg" data-png="./assets/img/members_3.png" width="100"
                                 alt="LENNERD SHELLY">
                        </div>
                        <h5>LENNERD SHELLY</h5>
                        <p>REVIEWER</p>
                    </div>
                </div>
            </div>
            <div class="row members__inner">
                <div class="text-center">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="members__team-member wow fadeInUp">
                            <div class="members-image">
                                <img class="members-image__img" src="./assets/img/svg/team/4.svg" data-png="./assets/img/members_4.png" width="100"
                                     alt="SHELDON CUPPER">
                            </div>
                            <h5>SHELDON CUPPER</h5>
                            <p>MARKETTER</p>
                        </div>
                    </div>
                    <div class="members__ashley col-md-2 col-sm-6 col-xs-12">
                        <div class="members__team-member wow git fadeInRight">
                            <div class="members-image">
                                <img class="members-image__img" src="./assets/img/svg/team/5.svg" data-png="./assets/img/members_5.png" width="100"
                                     alt="ASHLEY COLE">
                            </div>
                            <h5>ASHLEY COLE</h5>
                            <p>MANAGEMENT</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
</section>
