<div id="modal_what-we-do" class="modal">
    <div class="modal-content">
        <a class="close">&times;</a>
        <h2>What We Do <br>Modal Window :D</h2>
        <img src="./assets/img/deb.png" alt="">
    </div>
</div>

<div id="modal_welcome" class="modal">
    <div class="modal-content">
        <a class="close">&times;</a>
        <h2>Main Block <br>Modal Window :D</h2>
        <img src="./assets/img/deb.png" alt="">
    </div>
</div>

<div id="modal_our-packages" class="modal">
    <div class="modal-content">
        <a class="close">&times;</a>
        <h2>Our Packages <br>Modal Window :D</h2>
        <img src="./assets/img/deb.png" alt="">
    </div>
</div>

<div id="modal_our-history" class="modal">
    <div class="modal-content">
        <a class="close">&times;</a>
        <h2>Our History <br>Modal Window :D</h2>
        <img src="./assets/img/deb.png" alt="">
    </div>
</div>

<div id="modal_updates" class="modal">
    <div class="modal-content">
        <a class="close">&times;</a>
        <h2>Updates & Support <br>Modal Window :D</h2>
        <img src="./assets/img/deb.png" alt="">
    </div>
</div>