<!--hire-us section -->

<section class="hire-us wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="hire-us__content">
                    <div class="hire-us__img-overlay">
                        <div class="hire-us__footer">
                            <h3>NEED CREATIVE WORKERS?</h3>
                            <button class="btn hire-btn btn-primary">HIRE US</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
