<section class="our-packages">
    <div class="wrapper">

        <div class="headings__title">
            our packages
            <div class="headings__arrow-left">
                <object data="./assets/img/svg/arrow_left.svg" type="image/svg+xml">
                    <img src="./assets/img/What_we_do(arrow).png" />
                </object>
            </div>
        </div>
        
        <div class="our-packages__grid">
            <div class="our-packages__flex our-packages__flex-group-1">
                    <div class="our-packages__flex-item our-packages__flex-item-title color-grey">
                        <span class="scale-block">Basic</span>
                    </div>
                    <div class="our-packages__flex-item fs-16">
                        5 web sites
                    </div>
                    <div class="our-packages__flex-item fs-16">
                        15 e-mails
                    </div>
                    <div class="our-packages__flex-item fs-16">
                        5 MySQL databases
                    </div>
                    <div class="our-packages__flex-item fs-16">
                        10 GB storage
                    </div>
                    <div class="our-packages__flex-item fs-35 color-grey">
                        <span class="scale-block">$5/<span class="fs-25">mo.</span></span>
                    </div>
            </div>
            <div class="our-packages__flex our-packages__flex-group-2">
                    <div class="our-packages__flex-item our-packages__flex-item-title color-red">
                        <span class="scale-block">Standart</span>
                    </div>
                    <div class="our-packages__flex-item fs-16">
                        15 web sites
                    </div>
                    <div class="our-packages__flex-item fs-16">
                        40 e-mails
                    </div>
                    <div class="our-packages__flex-item fs-16">
                        20 MySQL databases
                    </div>
                    <div class="our-packages__flex-item fs-16">
                        50 GB storage
                    </div>
                    <div class="our-packages__flex-item fs-35 color-red">
                        <span class="scale-block">$12/<span class="fs-25">mo.</span></span>
                    </div>
            </div>
            <div class="our-packages__flex our-packages__flex-group-3">
                <div class="our-packages__flex-item our-packages__flex-item-title color-orange">
                    <span class="scale-block">Premium</span>
                </div>
                <div class="our-packages__flex-item fs-16">
                    30 web sites
                </div>
                <div class="our-packages__flex-item fs-16">
                    50 e-mails
                </div>
                <div class="our-packages__flex-item fs-16">
                    40 MySQL databases
                </div>
                <div class="our-packages__flex-item fs-16">
                    100 GB storage
                </div>
                <div class="our-packages__flex-item fs-35 color-orange">
                    <span class="scale-block">$19/<span class="fs-25">mo.</span></span>
                </div>
            </div>
        </div>
        <div class="our-packages__button">
            <a href="#">
                <div class="our-packages__button-item our-packages__button--grey modal-button" data-modal="modal_our-packages">
                    ORDER NOW
                </div>
            </a>
            <a href="#">
                <div class="our-packages__button-item our-packages__button--red modal-button" data-modal="modal_our-packages">
                    ORDER NOW
                </div>
            </a>
            <a href="#">
                <div class="our-packages__button-item our-packages__button--orange modal-button" data-modal="modal_our-packages">
                    ORDER NOW
                </div>
            </a>
        </div>
        
    </div>
</section>