<section class="related">
	<div class="related_title text-center arrow--right">
		<h4 class="header4">our business related projects</h4>
		<img class="related_title arrow--right__img hidden-xs" src="./assets/img/What_we_do(arrow).png" alt="">
	</div>
	<div class="related-main">
		<div class="related--sell ">
			<img class="wow pulse" src="./assets/img/svg/related1.svg" alt="">
			<div class="related--sell--text">technical aid</div>
		</div>
		<div class="related--sell ">
			<img class="wow pulse" src="./assets/img/svg/related2.svg" alt="">
			<div class="related--sell--text">secure access</div>
		</div>
		<div class="related--sell ">
			<img class="wow pulse" src="./assets/img/svg/related3.svg" alt="">
			<div class="related--sell--text">market reserch</div>
		</div>
		<div class="related--sell ">
			<img class="wow pulse" src="./assets/img/svg/related4.svg" alt="">
			<div class="related--sell--text">credit</div>
		</div>
		<div class="related--sell">
			<img class="wow pulse" src="./assets/img/svg/related5.svg" alt="">
			<div class="related--sell--text">targetting</div>
		</div>
		<div class="related--sell">
			<img class="wow pulse" src="./assets/img/svg/related6.svg" alt="">
			<div class="related--sell--text">insurance</div>
		</div>
		<div class="related--sell">
			<img class="wow pulse" src="./assets/img/svg/related7.svg" alt="">
			<div class="related--sell--text">ecomerce</div>
		</div>
		<div class="related--sell">
			<img class="wow pulse" src="./assets/img/svg/related8.svg" alt="">
			<div class="related--sell--text">office</div>
		</div>
	</div>
</section>