<!-- update-support section -->

<section class="supports">
    <div class="container">
        <div class="supports__heading">
            <div class="heading__title arrow--right">
                <h4>Updates & Support</h4>
                <img class="arrow--right__img hidden-xs" src="./assets/img/svg/arrow_right.svg" data-png="./assets/img/arrow_right.png" alt="arrow_right"/>
            </div>
        </div>
        <div class="row supports__inner">
            <div class="col-sm-6 col-xs-12 wow fadeInLeft">
                <div class="supports__content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
                    </p>
                    <div class="supports__btn">
                        <button class="btn btn-primary modal-button" data-modal="modal_updates">SUPPORT CENTER</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 wow fadeInRight">
                <div class="supports__img"><img class="img-responsive"
                                                src="./assets/img/Updates_and_support(macbook).png"
                                                alt="Updates_and_support image"/></div>
            </div>
        </div>
    </div>
</section>
