<!-- welcome section -->
<div class="main-menu">
    <div class="main-menu__cap"></div>
    <nav id="navbar" class="navbar navbar-default">
        <div class="container">
            <!-- mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img class="main-menu__logo" src="./assets/img/svg/logo.svg" data-png="./assets/img/logo.png"
                                                               alt="logo"/></a>
            </div>
            <!-- content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active active__item"><a class="active__link" href="#home">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="active__item"><a class="active__link" href="#works-area">Service</a></li>
                    <li class="active__item"><a class="active__link" href="#our-team">About</a></li>
                    <li class="active__item"><a class="active__link" href="#our-portfolio">Portfolio</a></li>
                    <li class="active__item"><a class="active__link" href="#our-history">Academic</a></li>
                    <li class="active__item"><a class="active__link" href="#our-feature">Blog</a></li>
                    <li class="active__item"><a class="active__link" href="#">Contact Us</a></li>
                    <div class="contact-number text-right">
                        <ul>
                            <li class="">(+966- 322 322)</li>
                        </ul>
                    </div>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<!--Home page style-->
<header class="header">
    <div class="container">

        <div class="row">
            <div class="homepage-style">

                <div class="top-arrow hidden-sm hidden-xs "><img src="./assets/img/svg/top_arrow.svg" data-png="./assets/img/top_arrow.png" alt="top_arrow"/>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="unique-apps">
                        <h2 class="unique-apps__heading">UNIQUE-TECH<br>APP DEVELOPMENT</h2>
                        <div class="unique-apps__desc">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco.
                            </p>
                            <p class="desc__content">
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit.
                            </p>
                        </div>

                        <button class="btn btn-primary unique-apps__btn modal-button" data-modal="modal_welcome">View More <span><i
                                class="btn__icon fa fa-paper-plane"></i></span>
                        </button>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="slider-area">
                        <div class="carousel slide" data-ride="carousel" data-interval="3000">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li class="carousel-indicators__item active" data-slide-to="0"></li>
                                <li class="carousel-indicators__item" data-slide-to="1"></li>
                                <li class="carousel-indicators__item" data-slide-to="2"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="./assets/img/slider-img-placeholder.png" data-src="./assets/img/slider-img.png" alt="slider-img" class="b-lazy"/>
                                </div>
                                <div class="item">
                                    <img src="./assets/img/slider-img.png" alt="slider-img"/>
                                </div>
                                <div class="item">
                                    <img src="./assets/img/slider-img.png" alt="slider-img"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
