<!-- what-we-do section -->
<section class="what-we-do">
    <div class="wrapper">
        <div class="what-we-do__content">

            <div class="headings__title">
                what we do
                <div class="headings__arrow-right">
                    <object data="./assets/img/svg/arrow_right.svg" type="image/svg+xml">
                        <img src="./assets/img/What_we_do(arrow).png" />
                    </object>
                </div>
            </div>

            <div class="what-we-do__flex">
                <div class="what-we-do__image wow fadeInLeft">
                    <img src="./assets/img/what_we_do(macbook).png" width="99%" alt="macbook">
                </div>
                <div class="what-we-do__description wow fadeInRight">
                    <h4 class="h4">web design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est.</p>
                    <button class="what-we-do__button modal-button" data-modal="modal_what-we-do">view more</button>
                </div>
            </div>
            <div class="what-we-do__flex">
                <div class="what-we-do__description wow fadeInLeft">
                    <h4 class="h4">search engine optimization</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est.</p>
                    <button class="what-we-do__button modal-button" data-modal="modal_what-we-do">view more</button>
                </div>
                <div class="what-we-do__image text-align-right wow fadeInRight">
                    <img src="./assets/img/what_we_do(macbook).png" width="99%" alt="macbook">
                </div>
            </div>
            <div class="what-we-do__flex">
                <div class="what-we-do__image wow fadeInLeft">
                    <img src="./assets/img/what_we_do(macbook).png" width="99%" alt="macbook">
                </div>
                <div class="what-we-do__description wow fadeInRight">
                    <h4 class="h4">affiliate marketing</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est.</p>
                    <div class="what-we-do__button modal-button" data-modal="modal_what-we-do">view more</div>
                </div>
            </div>

        </div>
    </div>
</section>